body {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    background-color: black;
}

.main {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
input {
    height: 100px;
    width: 100px;
}

h1 {
    color: white;
    font-weight: bolder;
    /* backdrop-filter: invert(100%); */
    mix-blend-mode: difference;
}

button {
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    display: block;
    margin: 10px auto;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer {
    width: 100%;
    background-color: rgb(182, 203, 231);
}

